{% load static %}
{% load my_tags %}

<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Apex Pizza - Доставка пиццы в Ташкенте! Среднее время доставки 1 час</title>
    <link rel="stylesheet" href="{% static 'css\font-awesome.min.css' %}">
    <link rel="stylesheet" href="{% static 'slick\slick-theme.css' %}">
    <link rel="stylesheet" href="{% static 'slick\slick.css' %}">
    <link rel="stylesheet" href="{% static 'css\owl.carousel.min.css' %}">
    <link rel="stylesheet" href="{% static 'css\owl.theme.default.min.css' %}">
    <link rel="stylesheet" href="{% static 'css\style.css' %}">
    <link rel="stylesheet" href="{% static 'css\fonts.css' %}">
    <link rel="shortcut icon" href="{% static 'images\favapex.ico' %}" type="image/x-icon">
</head>

<body>
    <header class="header">
        <div class="header-top">
            <a href="index.html" class="logo">
                
                <img src="{% static 'images\logo.png' %}" alt="">
            </a>
            <div class="header-top-right">
                <div class="header-delivery">
                    <span>Доставка пиццы</span>
                    <span>Среднее время доставки 1 час</span>
                </div>
                <div class="header-call">
                        
                    <img src="{% static 'images\phone.png' %}" alt="">
                    <a href="tel:+998712022020">(71)202-20-20</a>
                </div>
            </div>
        </div>
        <div class="header-bottom">
            <nav class="header-menu">
                <a href="index.html" class="header-sticky-logo" style="">
                    
                    <img src="{% static 'images\logo-no-text.png' %}" alt="">
                </a>
                <ul>
                    <li><a href="#pizza">Пиццы</a></li>
                    <li><a href="#drinks">Напитки</a></li>
                    <li><a href="#snacks">Закуски</a></li>
                    <li><a href="#sauces">Соусы</a></li>
                    <li><a href="#sets">Сеты</a></li>
                    <li><a href="discounts.html">Акции</a></li>
                    <li><a href="vacancy.html">Вакансии</a></li>
                    <li><a href="blog.html">Блог</a></li>
                    <li><a href="contact.html">Контакты</a></li>
                    <li><a href="about.html">О нас</a></li>
                </ul>
            </nav>
            <div class="header-bottom-right">
                <div class="header-cart">
                    <div class="header-card-total">
                        <div class="header-cart-sum">
                            <span>{{ cart_price|floatformat:"0" }}</span>
                            <span>сум</span>
                        </div>
                        <div class="header-cart-number">
                            <span>{{ cart_num }}</span>
                            <span>товара</span>

                            <span class="header-cart-toggler">
                                <i class="fa fa-angle-down"></i>
                            </span>
                        </div>
                    </div>
                    <a href="cart.html" class="btn-header-cart">Корзина</a>
                    <div class="header-cart-products">
                        {% for pizza in cart.pizzas.all %}
                        <div class="header-cart-product" id="pizza {{ pizza.id }} {{ cart.id }}">
                            <button type="button" class="header-cart-product-remove">
                                <i class="fa fa-times" aria-hidden="true" id="remove pizza {{ pizza.id }} {{ cart.id }}"></i>
                            </button>
                            <h5>{{ pizza.title }}</h5>
                            <span>{{ pizza.doughType }}, {{ pizza.size }}</span>
                            <div class="amount-controllers">
                                <button class="amount-remove" type="button" name="button">
                                    <i class="fa fa-minus"></i>
                                </button>
                                <input type="text" name="name" value="0">
                                <button class="amount-add" type="button" name="button">
                                    <i class="fa fa-plus"></i>
                                </button>
                            </div>
                        </div>
                        {% endfor %}
                        {% for drink in cart.drinks.all %}
                        <div class="header-cart-product">
                            <button type="button" class="header-cart-product-remove">
                                <i class="fa fa-times" aria-hidden="true" id="remove drink {{ drink.id }} {{ cart.id }}"></i>
                            </button>
                            <h5>{{ drink.title }}</h5>
                            <span>{{ drink.volume }}</span>
                            <div class="amount-controllers">
                                <button class="amount-remove" type="button" name="button">
                                    <i class="fa fa-minus"></i>
                                </button>
                                <input type="text" name="name" value="0">
                                <button class="amount-add" type="button" name="button">
                                    <i class="fa fa-plus"></i>
                                </button>
                            </div>
                        </div>
                        {% endfor %}
                        {% for snack in cart.snacks.all %}
                        <div class="header-cart-product">
                            <button type="button" class="header-cart-product-remove" >
                                <i class="fa fa-times" aria-hidden="true" id="remove snack {{ snack.id }} {{ cart.id }}"></i>
                            </button>
                            <h5>{{ snack.title }}</h5>
                            <div class="amount-controllers">
                                <button class="amount-remove" type="button" name="button">
                                    <i class="fa fa-minus"></i>
                                </button>
                                <input type="text" name="name" value="0">
                                <button class="amount-add" type="button" name="button">
                                    <i class="fa fa-plus"></i>
                                </button>
                            </div>
                        </div>
                        {% endfor %}
                        {% for sauce in cart.sauces.all %}
                        <div class="header-cart-product">
                            <button type="button" class="header-cart-product-remove" >
                                <i class="fa fa-times" aria-hidden="true" id="remove sauce {{ sauce.id }} {{ cart.id }}" ></i>
                            </button>
                            <h5>{{ sauce.title }}</h5>
                            <div class="amount-controllers">
                                <button class="amount-remove" type="button" name="button">
                                    <i class="fa fa-minus"></i>
                                </button>
                                <input type="text" name="name" value="0">
                                <button class="amount-add" type="button" name="button">
                                    <i class="fa fa-plus"></i>
                                </button>
                            </div>
                        </div>
                        {% endfor %}
                        {% for set in cart.sets.all %}
                        <div class="header-cart-product">
                            <button type="button" class="header-cart-product-remove"></button>
                                <i class="fa fa-times" aria-hidden="true" id="remove set {{ set.id }} {{ cart.id }}"></i>
                            </button>
                            <h5>{{ set.title }}</h5>
                            <div class="amount-controllers">
                                <button class="amount-remove" type="button" name="button">
                                    <i class="fa fa-minus"></i>
                                </button>
                                <input type="text" name="name" value="0">
                                <button class="amount-add" type="button" name="button">
                                    <i class="fa fa-plus"></i>
                                </button>
                            </div>
                        </div>
                        {% endfor %}
                        
                        <div class="header-cart-products-sum">
                            <span>Сумма заказа:</span>
                            <span>{{ cart_price|floatformat:"0" }} сум</span>
                            
                        </div>
                    </div>
                </div>
                
                <a href="" class="btn-header-cashback"><img src="{% static 'images\cashback.png' %}" alt="">Cashback</a>
            </div>
        </div>
    </header>
    <!-- Header Mobile -->
    <header class="header-mobile">
        <div class="header-panel">
            <div class="header-mobile-logo">
                <a href="">
                    
                    <img src="{% static 'images\logo.png' %}" alt="">
                </a>
            </div>
            <div class="header-toggler">
                <span></span>
                <span></span>
            </div>
        </div>
        <div class="header-mobile-menu">
            <ul>
                <li><a href="#pizza">Пиццы</a></li>
                <li><a href="#drinks">Напитки</a></li>
                <li><a href="#snacks">Закуски</a></li>
                <li><a href="#sauces">Соусы</a></li>
                <li><a href="#sets">Сеты</a></li>
                <li><a href="discounts.html">Акции</a></li>
                <li><a href="vacancy.html">Вакансии</a></li>
                <li><a href="blog.html">Блог</a></li>
                <li><a href="contact.html">Контакты</a></li>
                <li><a href="about.html">О нас</a></li>
            </ul>
            <div class="header-top-right">
                <div class="header-delivery">
                    <span>Доставка пиццы</span>
                    <span>Среднее время доставки 1 час</span>
                </div>
                <div class="header-call">
                        
                    <img src="{% static 'images\phone.png' %}" alt="">
                    <a href="tel:+998712022020">(71)202-20-20</a>
                </div>
            </div>
        </div>
        <a href="" class="header-mobile-cart">
            <i class="fa fa-shopping-basket" aria-hidden="true"></i>
            <span class="header-mobile-cart-number">12</span>
        </a>
    </header>
    <!-- Header Mobile end  -->
    <section class="hero-slider"> 
            
        <div><img src="{% static 'images\banners\apex-banner-1.jpg' %}" alt=""></div>
        <div><img src="{% static 'images\banners\apex-banner-1.jpg' %}" alt=""></div>
        <div><img src="{% static 'images\banners\apex-banner-1.jpg' %}" alt=""></div>
        <div><img src="{% static 'images\banners\apex-banner-1.jpg' %}" alt=""></div>
    </section>

    <section class="hero-mobile">
            
        <img src="{% static 'images\banners\banner-mobile.jpg' %}" alt="">
    </section>


    <section class="main-content" style="background-image: url('images/shapes-bg.png');">
        <div class="wrapper">
            <h2 class="section-title">
                
                <img src="{% static 'images\title-bg.png' %}" alt="">
                ПИЦЦА:
            </h2>
            {{number}}


            <div class="pizza" id="pizza">
                {% for pizza in pizzas %}
                    {% if pizza.active %}
                        <form method="POST" class="post-form" id="{{pizza.id}}" name="pizza {{pizza.id}}"">

                            <div class="pizza-card">
                                
                                    <div class="pizza-img">
                                        <img id="CommonImg" src="/media/{{pizza.picture}}">
                                    </div>
                                        {% csrf_token %}
                                    
                                        <div class="pizza-details">
                                            <div class="pizza-info">
                                                <h3 class="pizza-name">{{pizza.title}}</h3>
                                                <div class="pizza-comp">
                                                    {% for topping in pizza.toppings.all %}
                                                    <input type="checkbox" class="pizza-comp-option" name="toppings{{pizza.id}}" value={{topping.id}} checked="">
                                                        {{pizzas.toppings.all}}
                                                        {{topping.title}}
                                                        <i class="fa fa-times" aria-hidden="true"></i>
                                                    </input>
                                                    {% endfor %}
                                                </div>
                                            </div>
                                            <div>
                                                <div class="pizza-size">
                                                        <div class="radio-group">
                                                            {% for price in pricesFS %}
                                                            
                                                                {% if price.pizza.id == pizza.id %}
                                                                    {% if price.size.id == 3 %}
                                                                        <input type="radio" id="{{ pizza.id }} {{price.size.title}} {{price.price|floatformat:"0"}}" name="size_selector" value="{{price.size.id}}" checked="">
                                                                        <label for="{{ pizza.id }} {{price.size.title}} {{price.price|floatformat:"0"}}">{{price.size.title}}</label>
                                                                    {% else %}
                                                                        <input type="radio" id="{{ pizza.id }} {{price.size.title}} {{price.price|floatformat:"0"}}" name="size_selector" value="{{price.size.id}}">
                                                                        <label for="{{ pizza.id }} {{price.size.title}} {{price.price|floatformat:"0"}}">{{price.size.title}}</label>
                                                                    {% endif %}

                                                                {% endif %}
                                                            {% endfor %}

                                                            <!-- <input type="radio" id="{{ pizza.id }}-30sm" name="size_selector" value="2">
                                                            <label for="{{ pizza.id }}-30sm">30см</label>
                                                            <input type="radio" id="{{ pizza.id }}-25sm" name="size_selector" value="3" checked="">
                                                            <label for="{{ pizza.id }}-25sm">25см</label> -->
                                                        </div>
                                                </div>

                                                <div class="pizza-pastry">
                                                        <div class="radio-group">
                                                            <input type="radio" id="{{ pizza.id }}-thin" name="selector" value="1">
                                                            <label for="{{ pizza.id }}-thin">Тонкое</label>
                                                            <input type="radio" id="{{ pizza.id }}-traditional" name="selector" value="2" checked="">
                                                            <label for="{{ pizza.id }}-traditional">Традиционное</label>
                                                        </div>
                                                </div>
                                                <div class="pizza-buy">
                                                    <button class="add-to-cart" id="addToCart">В корзину</button>
                                                    {% for price in pricesFS %}
                                                            
                                                        {% if price.pizza.id == pizza.id %}
                                                            {% if price.size.id == 3 %}
                                                                <span class="pizza-price" id="pizzaprice {{pizza.id}}">{{ price.price|floatformat:"0" }} сум</span>
                                                            {% endif %}
                                                        {% endif %}
                                                    
                                                    {% endfor %}
                                                </div>
                                            </div>
                                        </div>
                            </div>
                        </form>
                    {% endif %}
                
                {% endfor %}

            </div>
            <h2 class="section-title">
                    
                <img src="{% static 'images\title-bg.png' %}" alt="">
                НАПИТКИ:
            </h2>
            <div class="drinks" id="drinks">
                {% for drink in drinks %} 
                    {% if drink.active %}  
                        <form method="POST" class="post-form" id="{{drink.id}}" name="drink {{drink.id}}" >
                        <div class="drinks-card">
                            <div class="drink-photo">
                                <img src="/media/{{drink.picture}}" alt="">
                            </div>
                            <h3 class="drinks-name">{{drink.title}}</h3>

                            {% csrf_token %}
                            {% for price in pricesFV %}

                                {% if price.drink.id == drink.id %}
                                    {% if price.volume.id == 1 %}
                                        <span class="drinks-price" id="drinkprice {{drink.id}}">{{ price.price|floatformat:"0" }} сум</span>
                                    {% endif %}
                                {% endif %}
                            
                            {% endfor %}
                            
                            <div class="drinks-size">
                                <div class="radio-group">
                                    <!-- {% for volume in drink.available.all %}
                                        {% if volume.id == m_volume|length %}
                                            <input type="radio" id="drink {{drink.id}} {{volume.id}} " name="volume_selector" checked="">
                                            <label for="drink {{drink.id}} {{volume.id}}">{{volume.title}}</label>
                                        {% else %}
                                            <input type="radio" id="drink {{drink.id}} {{volume.id}}" name="volume_selector">
                                            <label for="drink {{drink.id}} {{volume.id}}">{{volume.title}}</label>
                                        {% endif %}
                                    {% endfor %} -->

                                    {% for price in pricesFV %}
                                    
                                        {% if price.drink.id == drink.id %}
                                            {% if price.volume.id == 3 %}
                                                <input type="radio" id="{{ drink.id }} {{price.volume_selector.title}} {{price.price|floatformat:"0"}}" name="volume_selector" value="{{price.volume.id}}" checked="">
                                                <label for="{{ drink.id }} {{price.volume_selector.title}} {{price.price|floatformat:"0"}}">{{price.volume.title}}</label>
                                            {% else %}
                                                <input type="radio" id="{{ drink.id }} {{price.volume_selector.title}} {{price.price|floatformat:"0"}}" name="volume_selector" value="{{price.volume.id}}">
                                                <label for="{{ drink.id }} {{price.volume_selector.title}} {{price.price|floatformat:"0"}}">{{price.volume.title}}</label>
                                            {% endif %}
                                        {% endif %}
                                    {% endfor %}
                                </div>
                            </div>
                            <button type="submit" class="add-to-cart">В корзину</button>
                        </div>
                        </form>
                    {% endif %}
                {% endfor %}
                
            </div>
            <h2 class="section-title">
                    
                <img src="{% static 'images\title-bg.png' %}" alt="">
                Закуски:
            </h2>
            <div class="snacks" id="snacks">
                {% for snack in snacks %} 
                    {% if snack.active %} 
                        <form method="POST" class="post-form" id="{{snack.id}}" name="snack {{snack.id}}" >
                            <div class="snacks-card">
                                <div class="snacks-photo">
                                        
                                    <img src="/media/{{snack.picture}}" alt="">
                                </div>
                                <h3 class="snacks-name">{{snack.title}}</h3>
                                <div class="snacks-actions">
                                    <button type="submit" class="add-to-cart">В корзину</button>
                                    <span class="snacks-price">{{ snack.price|floatformat:"0" }} сум</span>
                                </div>
                            </div>
                        </form>
                    {% endif %}
                {% endfor %}
                
            </div>
            <h2 class="section-title">
                    
                <img src="{% static 'images\title-bg.png' %}" alt="">
                Соусы:
            </h2>
            <div class="sauces" id="sauces">
                {% for sauce in sauces %}  
                    {% if sauce.active %} 
                        <form method="POST" class="post-form" id="{{sauce.id}}" name="sauce {{sauce.id}}" >
                            <div class="sauces-card">
                                <div class="sauces-photo">
                                        
                                    <img src="/media/{{sauce.picture}}" alt="">
                                </div>
                                <h3 class="sauces-name">
                                    {{ sauce.title }}
                                </h3>
                                <div class="sauces-actions">
                                    <button type="submit" class="add-to-cart">В корзину</button>
                                    <span class="sauces-price">{{ sauce.price|floatformat:"0" }} сум</span>
                                </div>
                            </div>
                        </form>
                    {% endif %}
                {% endfor %}
                
            </div>
            <h2 class="section-title">
                <img src="{% static 'images\title-bg.png' %}" alt="">
                Сеты:
            </h2>
            <div class="sets-slider" id="sets">
            {% for set in sets %} 
                {% if set.active %} 
                    <form method="POST" class="post-form" id="{{set.id}}" name="set {{set.id}}" >

                        <div>
                            <img src="/media/{{set.picture}}">
                            <div class="sets-text">
                                <h3 class="sets-name">{{ set.title }}</h3>
                                <div class="sets-actions">
                                    <button type="submit" class="add-to-cart">В корзину</button>
                                    <span class="sets-price">{{ set.price|floatformat:"0" }} сум</span>
                                </div>
                            </div>
                        </div>
                    </form>
                {% endif %}
            {% endfor %}
                
            </div>
            <div class="home-about">
                <p>
                    <span>APEX</span> ПИЦЦА ЭТО - Пиццерия APEX PIZZA была создана для того, чтобы сделать нашу жизнь
                    вкуснее. Если вам хочется чего-то необычного, если вы не успели приготовить обед или ужин,
                    если вы задержались на работе и чувствуете, что пора перекусить - то наша
                    пицца это именно то, что нужно.
                    <br>
                    <br>
                    Только качественные продукты, только проверенные рецепты и только лучшие повара,
                    которые готовят специально для Вас.
                    <br>
                    <br>
                    Не верите! Тогда закажите нашу пиццу прямо сейчас
                </p>
            </div>
        </div>
    </section>

    <!-- FOOTER -->
    <div class="footer-yellow-line"></div>

    <footer class="footer">
        <div class="wrapper">
            <div class="footer-logo">
                <a href="index.html">
                        
                    <img src="{% static 'images\logo-footer.png' %}" alt="">
                </a>
            </div>
            <div class="footer-menu">
                <ul>
                    <li><a href="#">Пиццы</a></li>
                    <li><a href="#">Напитки</a></li>
                    <li><a href="#">Закуски</a></li>
                    <li><a href="#">Соусы</a></li>
                    <li><a href="#">Сеты</a></li>
                    <li><a href="#">Акции</a></li>
                    <li><a href="#">Вакансии</a></li>
                    <li><a href="#">Блог</a></li>
                    <li><a href="#">Контакты</a></li>
                    <li><a href="#">О нас</a></li>
                </ul>
            </div>
            <div class="footer-numbers">
                <h4>Зона<br>Доставки</h4>
                <a href="tel:+998712022020" class="footer-phone">
                        
                    <img src="{% static 'images\footer-phone.png' %}" alt="">
                    (71) 202-20-20
                </a>
                <div class="footer-delivery">
                    <span>Доставка пиццы</span>
                    <span>Среднее время доставки 1 час</span>
                </div>
            </div>
            <div class="footer-map-socials">
                <div class="footer-map">
                    <iframe src="https://yandex.ru/map-widget/v1/-/CCB8VJyy" width="560" height="400" frameborder="1" allowfullscreen="true"></iframe>
                </div>
                <div class="footer-socials">
                    <a href=""><i class="fa fa-instagram"></i> </a>
                    <a href=""><i class="fa fa-facebook-square" aria-hidden="true"></i> </a>
                </div>
            </div>
        </div>

    </footer>
    
    <script src="{% static 'js\jquery-3.3.1.min.js' %}"></script>
    <script src="{% static 'js\owl.carousel.min.js' %}"></script>
    <script src="{% static 'slick\slick.min.js' %}"></script>
    <script src="{% static 'js\script.js' %}"></script>
    <script src="{% static 'js\ajax.js' %}"></script>

</body>

</html>