<html>
    <head>
        <title>The Wall</title>
        <link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap.min.css">
        <link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap-theme.min.css">
        <link href='//fonts.googleapis.com/css?family=Lobster&subset=latin,latin-ext' rel='stylesheet' type='text/css'>
        <link rel="stylesheet" href="/static/css/blog.css">
    </head>
    <body>
        [&#39;Пицца маргарита&#39;, &lt;bound method QueryDict.copy of &lt;QueryDict: {&#39;toppings[]&#39;: [&#39;1&#39;, &#39;3&#39;], &#39;size&#39;: [&#39;25&#39;], &#39;type&#39;: [&#39;trad&#39;]}&gt;&gt;]
    </body>
</html>